<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <%- include('partials/includes') %>
  </head>
  <body>
    <div class="container-index">
      <h1 style="font-size: 18px;">The one stop for all your todo needs!</h1>
      <a href='/login'>
      <button class="btn">
          Login
      </button>
      <a href='/register'>
        <button class="btn">
            Reigster
        </button>
      </div>
    <!-- <h1>The one stop for all your Todo needs!</h1>
    <a href="/panel">Click here to see your previous todos!</a>
    <a href="/add">Click here to add a new todo!</a> -->

  </body>
</html>
